.grid {
  width: 100%;
  display: grid;
  grid-template:
    "header"
    "sobre"
    "desenhos"
    "comissoes"
    "footer";
  grid-template-rows: 100px 500px 500px 500px 500px;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.header {
  grid-area: header;
  background-color: lightgreen;
  width: 100%;
  border-bottom: 2px solid #72BA72;
  position: fixed;
}

a {
  text-decoration: none;
  font-size: 40px;
  margin: 0px 50px 0px 50px; 
  color: white;
  text-align: center;
  position: relative;
  
}

.menu {
  position: relative;
  top: 20px;
  height: 100px;
  text-align: center;
}

.menu a::after {
  content: "";
  width: 0%;
  height: 4px;
  border-radius: 20px;
  background-color: #72BA72;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.menu a:hover::after {
  width: 100%;
}






































.footer {
  background-color: lightgreen;
  width: 100%;
  grid-area: footer;
  display: flex;
}

.logo-redes {
  display: block;
  margin: 30px 0px 30px 0px;
  position: relative;
  left: 75%;
  bottom: 54%;
}

.redes {
  top: 14%;
  position: relative;
  right: 15%;
}

.links {
  list-style: none;
  margin: 50px 0px 50px 0px;
  position: relative;
  left: 100%;
}

.textf {
  font-size: 30px;
  position: relative;
  right: 50%;
  bottom: 118%;
  text-align: center;
}